<nav class="fondorojo">
    <ul><h2 class="colorblanco">Mi Libreria</h2>
    <li class="colorrojo espacioabajo">Reciente</li>
    <li class="colorhumo espacioabajo">Artistas</li>
    <li class="colorhumo espacioabajo">Àlbums</li>
    <li class="colorhumo espacioabajo">Canciones</li>
    <li class="colorhumo espacioabajo">Estaciones</li>
    </ul>
    
    <ul><h2 class="colorblanco">Play List </h2>
    <li class="colorhumo espacioabajo">Reciente</li>
    <li class="colorhumo espacioabajo">Artistas</li>
    <li class="colorhumo espacioabajo">Àlbums</li>
    <li class="colorhumo espacioabajo">Canciones</li>
    <li class="colorhumo ">Estaciones</li>
    </ul>
    </nav>