<nav class="fondorojo">
    <ul><h2 class="colorblanco">Mi Libreria</h2>
    <li class="colorrojo">Reciente</li>
    <li class="colorhumo">Artistas</li>
    <li class="colorhumo">Àlbums</li>
    <li class="colorhumo">Canciones</li>
    <li class="colorhumo">Estaciones</li>
    </ul>
    
    <ul><h2 class="colorblanco">Play List </h2>
    <li class="colorhumo">Reciente</li>
    <li class="colorhumo">Artistas</li>
    <li class="colorhumo">Àlbums</li>
    <li class="colorhumo">Canciones</li>
    <li class="colorhumo">Estaciones</li>
    </ul>
    </nav>