<div id="main-wrapper">
  <div class="page-wrapper">
  <app-header></app-header></div>
  <div class="page-sidebar">
   <app-sidebar></app-sidebar>
  </div>  <div class="page-wrapper">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer">
      © 2021 Admin Pro by wrappixel.com
    </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
  </div>
</div>